.empty {
    border-bottom: 8px solid #2bd800;
}

.no_empty {
    border-bottom: 8px solid #d80000;
}

.available {
    color: #2bd800;
    font-weight: bold;
}

.no_available {
    color: #d80000;
    font-weight: bold;
}

.class_state {
    margin-bottom: -1rem;
    margin-top: 1rem;
    float: right;
}

.control_page {
    font-family: "Montserrat", sans-serif;
    background: var(--background_color);
}
.class_cont {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 0;
    justify-content: space-evenly;
}
.class_div {
    box-shadow: 0px 0px 18px -4px rgba(0, 0, 0, 0.25);
    height: fit-content;
    flex-basis: 23%;
    background-color: white;
    padding: 1.5rem 1.5rem;
    h1 {
        font-family: "Montserrat", sans-serif;
        font-weight: bolder;
        font-size: 3.5rem;
    }
    .class_num {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
}
span {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
p {
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

//switches
input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 3rem;
    height: 1.5rem;
    background: rgb(209, 209, 209);
    display: block;
    border-radius: 100px;
    position: relative;
}

label:after {
    content: "";
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    width: 1.1rem;
    height: 1.1rem;
    background: #fff;
    border-radius: 50%;
    transition: 0.5s;
}

input:checked + label {
    background: #2bd800;
}
    
input:checked + label:after {
    left: calc(100% - 0.2rem);
    transform: translateX(-100%);
}

.availableSpan, .student {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

