*{
  font-family: 'roboto' ,sans-serif;
}
.back{
    position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: whitesmoke;
  margin: 0;
  display: flex;
  flex-direction: column;
}
  .back::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    flex-direction: column;
  }
  .Titel{
    top: 0;
    width: 100%;
    height: 100px;
    border-left: 1px solid #e6fbff ;
    border-top: 1px solid  #e6fbff ;
    border-right: 1px solid #e6fbff ;
    border-bottom: 1px solid  #e6fbff ;
    background-color: white;
  } 
  .question{
    color: #0094FF;
    font-size: 30px;
  }
  .container{
    margin-left: 100px;
    margin-top: 20px;
  }
  .box{
    width: 90%;
    height: 200px;
    border-left: 1px solid  white;
    border-top: 1px solid white ;
    border-right: 1px solid white;
    border-bottom: 1px solid white ;
    background-color: #f8f8f8;
    margin-left: 50px;
  }   
  .titel1{
    margin-left: 50px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
  } 
  .part2{
    background-color: white;
    border-left: 1px solid #e6fbff ;
    border-top: 1px solid  #e6fbff ;
    border-right: 1px solid #e6fbff ;
    border-bottom: 1px solid  #e6fbff ;
    margin-top: 50px;
    height: auto;
    width: 80%;
    margin-left: 10%;
    justify-content: center;
  } 
  .part3{
    background-color: white;
    border-left: 1px solid #e6fbff ;
    border-top: 1px solid  #e6fbff ;
    border-right: 1px solid #e6fbff ;
    border-bottom: 1px solid  #e6fbff ;
    height: auto;
    width: 80%;
    margin-left: 10%;
    justify-content: center;
  } 
  .submit{
    width: 150px;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: #f8b200;
  border: 0;
  outline: none;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 80%;
  }  
  .Btn{
    width: 100px;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: #f8b200;
  border: 0;
  outline: none;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 200px;
  }  
  .paragraphe{
    margin-left: 100px;
    margin-top: 35px;
    margin-bottom: 20px;
    margin-right: 81px;
    color: black;
    text-align: left;
  } 
  @media screen and (max-width: 950px){
    .Titel{
      width: 100%;
    } 
    .part3{
      height: 200px;
      width: 850px;
      margin-left: 0;
      justify-content: center;
    } 
    .part2{
      height: 400px;
      width: 850px;
      margin-left: 0;
      justify-content: center;
    }
    .box{
      width: 85%;
      height: 125px;
    } 
    .Btn{
      margin-left: 10%;
    } 
    .submit{
    margin-bottom: 20px;
    margin-left: 80%;
    }
  } 
  @media screen and (max-width: 700px){
    .Titel{
      width: 100%;
    } 
    .part3{
      height: 300px;
      width: 650px;
      margin-left: 0;
      justify-content: center;
    } 
    .part2{
      height: 500px;
      width: 650px;
      margin-left: 0;
      justify-content: center;
    }
    .box{
      width: 80%;
      height: 200px;
    } 
    .Btn{
      margin-left: 10%;
    } 
    .submit{
      margin-bottom: 20px;
      margin-left: 80%;
      }
  } 
  @media screen and (max-width: 500px){
     .Titel{
      height: 100%;
      width: 450px;
    } 
    .part3{
      height: 400px;
      width: 450px;
      margin-left: 0;
      justify-content: center;
    } 
    .part2{
      height: 650px;
      width: 450px;
      margin-left: 0;
      justify-content: center;
    }
    .box{
      width: 80%;
      height: 300px;
    } 
    .Btn{
      margin-left: 10%;
    }  
    .paragraphe{
      margin-left: 25px;
    } 
    .container{
      margin-left: 25px;
    }  
    .submit{
      margin-bottom: 20px;
      margin-left: 80%;
      }

  } 
