.forum_post_page {
  background: var(--background_color);
}
.page_head {
  padding: 2rem 5vw;
  height: 20vh;
}
.side_details {
  font-size: 0.7rem;
  color: var(--secondary_color);
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary_btn);
}

.post_cont {
  padding: 4rem 5vw;
  background-color: var(--divs_bg);
  border: 5 px solid var(--primary_btn);
  h2 {
    margin-bottom: 1.5rem;
    color: var(--secondary_color);
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post_content {
  flex-basis: 90%;
  text-align: justify;
  color: var(--secondary_color);
}
.like {
  &:hover {
    svg path:last-child {
      transform: translateY(-10px);
      transition: 0.5s;
    }
  }
  p {
    margin-top: 0.7rem;
  }
  text-align: center;
}

.add_comment {
  padding: 0 5vw;
  padding-top: 2rem;
  textarea {
    width: 100%;
    height: 10rem;
  }
}
.comment_section {
  margin-top: 4rem;
  width: 100%;
  height: fit-content;
}
.btn {
  margin-top: 1rem;
}
.comment {
  border-bottom: 1px solid rgba(121, 121, 121, 0.5);
  padding: 0 5vw;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  height: fit-content;
}
.content {
  padding: 0.5rem 0;
  flex-basis: 90%;
  text-align: justify;
  h4 {
    font-size: 1.3rem;
  }
  h6 {
    display: inline;
  }
  p {
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--secondary_color);
  }
}
.profile {
  display: flex;
  flex-direction: column;
  height: 100%;
  .picture {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: aqua;
    margin-bottom: 3rem;
  }
}
