/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

.light-theme{
  --default_text_color:#20558B;
  --primary_color :#FF9900;
  --secondary_color : #080C1D;
  --background_color :#EDF2F5;
  --primary_btn :#FF9900;
  --secondary_btn :rgb(223, 223, 223);
}
  

.dark-theme{
  --default_text_color:#EDF2F5;
  --primary_color :#20558B;
  --secondary_color : #EDF2F5;
  --background_color :linear-gradient(180deg, #000033 0%, #000000 100%);;
  --primary_btn :#FF9900;
  --secondary_btn :#20558B;
}



*{
      margin:0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'roboto' ,sans-serif;
}
html{
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;

}
@media screen and (max-width:450px) {
  html{
    font-size: 12px;
  }
}
.padding_page{
  padding: 0 10vw;
}
::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }
    ::-webkit-scrollbar-button{display:none;}
    ::-webkit-scrollbar-thumb {
      background:  linear-gradient(118.44deg, #004EFF 48.78%, #4200FF 87.84%);; 
      border-radius: 30px;
      height: .2rem;
    }
    ::-webkit-scrollbar-track {
      border-radius: 30px;
      background-color:#0B174B
    }


    /*btn animation*/
    @import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

/* 
========================
      BUTTON ONE
========================
*/
.btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #F8B200;
  border-bottom-color: #F8B200;
  transform: scale(0.1, 1);
}
.btn-one:hover {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}

//filter_btn
.btn-three {
  color: var(--secondary_color);
  transition: all 0.5s;
  position: relative;
  margin-right: 0.2rem;
}
.btn-three::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--);
  
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.btn-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1,1);
}
//avatar
.avatar{
  position: absolute;
  bottom: 0;
  left: -30vw;
  height: 100%;
}

//animated bg
@function multiple-box-shadow ($n){ 
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n{
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';}
  @return unquote($value)
  
}
$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);
// n is number of stars required


#stars{
  
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;
    
  &:after{
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }}
#stars2{
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation			: animStar 100s linear infinite;
    
  &:after{
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
}}
#stars3{
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation	: animStar 150s linear infinite;
  &:after{
    content: " ";
    position: absolute;
    top: 2000px;;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

    
@keyframes animStar{
  from	{
    transform: translateY(0px)}
  to	{	
    transform: translateY(-2000px)}
}


.footer{
  margin-top: 2rem;
  width: 100vw;
  background: linear-gradient(155deg, #FF9900 8.07%, #FF9900 29.67%, #080C1D 29.68%, #080C1D 60.42%, #113E99 60.42%);;;
  height: 40vh;
  position: relative;
}
