/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=El+Messiri&display=swap");
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@syncfusion/ej2-base/styles/material.css";
@import "~@syncfusion/ej2-buttons/styles/material.css";

.light-theme {
  --bundle_background:#edf2f5;
  --nav_background :linear-gradient(to bottom, rgba(128, 128, 128, 0.5) 0%, #edf2f581 100%);
  --default_text_color: #20558b;
  --primary_color: #ff9900;
  --secondary_color: #080c1d;
  --background: #edf2f5;
  --primary_btn: #ff9900;
  --secondary_btn: rgb(223, 223, 223);
  --divs_bg: linear-gradient(to bottom, #adadad 0%, #ecececb7 100%);
  --modal_bg :#edf2f5;
}

.dark-theme {
  --bundle_background:   linear-gradient(110.27deg, #042C6A 0%, #10204D 47.9%, #0F0A18 100%);

  --nav_background :linear-gradient(to bottom, #00003370 0%, #0b436600 100%);
  --default_text_color: #edf2f5;
  --primary_color: #20558b;
  --secondary_color: #edf2f5;
  --background: linear-gradient(110.27deg, #042C6A 0%, #27193C 48.96%, #030205 100%);
  --primary_btn: #ff9900;
  --secondary_btn: #20558b;
  --divs_bg: #1c1c66;
  --modal_bg :rgb(68, 68, 68);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}
html {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}
body {
  transition: 0.5s;
}
@media screen and (max-width: 450px) {
  html {
    font-size: 12px;
  }
}
.padding_page {
  padding: 0 10vw;
  padding-top: 10vh;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(118.44deg, #004eff 48.78%, #4200ff 87.84%);
  border-radius: 30px;
  height: 0.2rem;
}
::-webkit-scrollbar-track {
  border-radius: 30px;
  background: var(--background);
}

/*btn animation*/
@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300";

/* 
========================
      BUTTON ONE
========================
*/
.btn-one {
  color: rgb(255, 217, 0);
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #f8b200;
  border-bottom-color: #f8b200;
  transform: scale(0.1, 1);
}
.btn-one:hover {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-one::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

//filter_btn
.btn-three {
  span{
    color: var(--secondary_color);
  }
  transition: all 0.5s;
  position: relative;
  margin-right: 0.2rem;
}
.btn-three::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.btn-three::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}
//avatar
.avatar {
  position: absolute;
  bottom: 0;
  left: -30vw;
  height: 100%;
}

.footer{
  z-index: 2;
  width: 100vw;
  height: 40vh;
  border-top: 1px solid rgb(175, 175, 175) ;
  display: flex;
  padding: 0 10vw;
  align-items: center;
  color: white;
  h1{
    font-family: 'El Messiri', sans-serif ;
    font-size: 1.75rem !important;
    width: 25%;
  }
  span{
    font-family: 'El Messiri', sans-serif ;
    font-size: 1rem;
  }
  .contact{
    
    h4{font-family: 'El Messiri', sans-serif ;
    margin-bottom: 1rem;}
    ul{
      list-style: none;
      li{font-family: 'El Messiri', sans-serif ;}
    }
  }
  margin-top: 2rem;
  background: linear-gradient(110.27deg, #042C6A 0%, #27193C 48.96%, #030205 100%);;
  height: 40vh;
  position: relative;
}

.cdk-overlay-connected-position-bounding-box {
  z-index: 99999 !important;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 99999 !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
