.login_page_container{
    background:radial-gradient(ellipse at bottom,#162b75 0%, #0B194E 19.71%, #07002e 80%,rgb(0, 0, 0) 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'roboto',sans-serif;
    position: relative;
    //background: linear-gradient(180deg, );
    padding: 2rem 10rem;
    color: white;
    overflow: hidden;
}
.login_form{
    flex-basis: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .form{ 
        width: 21rem;
        height: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            margin-bottom: 3.5rem;
            font-size: 36px;
            font-weight: bold;
        }
        .nav{
            width: 100%;
            margin-bottom: 3.5rem;
        }
        .nav-link{
            border-radius: 0;
            background-color: #0B1649;
            color: white;
            font-weight: bold;
            font-family: 'roboto',sans-serif;
        }
        
    }
}
.active{
    background-color: #0652FD !important;
}
img{
    width: 40%;
    height: auto;

}

@media screen and (max-width:450px){
    .login_page_container,.form{
        font-size: 90%;  
    }
    
    .image{
        display: none;
    }
    .form{
        width: 17rem !important ;
    }
}


