<div class="all_page">

    <div class="hero">
      <div class="nav">
        <h1>Drop <span>Of </span>Change</h1>
        <div class="links">
          <h2 (click)="scroll(about_us)">About Us</h2>
          <h2 (click)="go_to_crew(crew)">The Crew</h2>
  
        </div>
        <button (click)="go_to_login()" style="color: white;" class="btn btn-three sign_btn">Sign in</button>
        
      </div> 
      <div class="main_hero">
        <h1>Be Part In The School Of The <span>Future</span></h1>
      </div>
    </div>
  
    <div class="small_infos_cont">
      <div style="background-color:#EDF2F5 ;color: #080C1D;" class="small_info">
        <span>#1</span>
        <p>Best quality services and prices in the region
        </p>
      </div>
      <div style="background-color: #FF9900;color: #EDF2F5" class="small_info"><span>+200</span>
        <p>Schools and Institutes collabs around the world
        </p>
      </div>
      <div style="background-color: #113E99;color: #EDF2F5" class="small_info"><span>+22k</span>
        <p>Client satisfied
        </p>
      </div>
    </div>
    <div #about_us class="pres">
      <img class="deco" src="../../assets/images/landing_page deco.svg" alt="">
      <div class="flex">
        <div class="info">
          <h2>Who are we</h2>
          <p>we are a non profit organization who aims to revolutionize the educational sector  by rethinking our daily struggles and putting our creative skills into action to solve these problems. We aim to spread this positive attitude across people and especially youth
            conclusion:
            We, as young ambassadors of change, as citizens who believe that digital literacy is a human right and the new universal language is the language of technology, believe that our project will represent a great revolutionization to the educational sector internationally, but also more specifically on a nationwide level, a project made by passionate teens who went through the system, faced problems, and figured that the only way to fix these issues is by taking the initiative and doing it ourselves, a project made by students for students and - hopefully - for a brighter Tunisia. Thank you.</p>
        </div>
        <img src="../.././assets/images/who_we are.png" alt="">
      </div>
      <div class="flex">
        <div class="x_ray">
          <img class="bg" src="../../assets/images/bg_hero.jpg" alt="">
          <div class="masked_div">
            <div id="mask_bg" class="masked"></div>
            <img class="masked" src="../../assets/images/sketch.svg" alt="">
            <img class="masked" src="../../assets/images/bg_network.svg" alt="">
          </div>
        </div>
        <div class="info">
          <h2>What we do</h2>
          <p> Innovation, Discipline, Safety … What more words describe what every learner needs? It’s our mission to enable every child
            to keep them safe and reach their goals and design everything they need for their education. so we decide to help the administration of every school to manage them easily
            and provide safety for them to become the leaders of the future. </p>
        </div>
      </div>
    </div>
    <!-- pres_end -->
    <div class="services">
      <h1>Everything is in your hands</h1>
  
      <div class="cards_cont">
        <div style="background: linear-gradient(to bottom right,#FF9900 50% ,#f09000 100%);color: #080C1D;"
          class="card_ser">
          <h2>Eco-friendly technologies</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare condimentum mattis nibh semper scelerisque
            mi. Tincidunt magnis odio dolor scelerisque</p>
        </div>
        <div style="background:linear-gradient(to bottom right ,#080C1D 50% ,#04060e 100%) ;color: white"
          class="card_ser">
          <h2>Eco-friendly technologies</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare condimentum mattis nibh semper scelerisque
            mi. Tincidunt magnis odio dolor scelerisque</p>
        </div>
        <div style="background: linear-gradient(to bottom right ,#113E99 50% ,#2e65d3 100%);color: white"
          class="card_ser">
          <h2>Eco-friendly technologies</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare condimentum mattis nibh semper scelerisque
            mi. Tincidunt magnis odio dolor scelerisque</p>
        </div>
      </div>
    </div>
    <div class="disply_flex">
      <div #crew class="crew_page">
      <h1 class="title">Meet the crew</h1>
    </div>
  </div>
    
    <div class="call">
      <img class="deco" src="../../assets/images/landing_page deco.svg" alt="">
      <div class="text">
        <h1>Today is the first day of the rest of your life</h1>
        <button (click)="go_to_login()" class="btn btn-one">Sign up</button>
      </div>
      <img class="mockup" src="../../assets/images/3 Device Mashup.png" alt="">
    </div>
    <div class="footer">
      <h1>Drop <span>Of</span> Change</h1>
      <div class="contact">
        <h4>Find us on :</h4>
        <ul>
          <li>Telephone :94 945 011</li>
          <li>Fax : 97 546 215</li>
          <li>Email : idont.have.email@gmail.com</li>
          <li>Twitter : #drop of change</li>
        </ul>
      </div>
      <div class="side_info">
        <p>Made with love by IOTeens</p>
        <p>Offisial website.All copyrights reserved 2021</p>
      </div>
    </div>
  
  
  </div>
