<div class="all_page ">
  <div class="bundle">
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
       
        <form [formGroup]="AddPost" #formDirective="ngForm" (ngSubmit)="onSubmit()">

          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
              
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="PostHeadline">Post Headline:</label>
                <input formControlName="PostHeadline" type="text" id="PostHeadline" class="form-control">
              </div>
              <!--                 <label for="title">post title</label>
                <input name="title" type="text" placeholder="title..."> -->
              <!-- <label for="post_text">post body</label>
                <textarea name="post_text" id="post_text" placeholder="type here..."></textarea> -->
              
              <!-- <div class="form-group">
                <label for="Author">Author's name:</label>
                <input formControlName="Author" type="text" id="Author" class="form-control">
              </div> -->
              <div class="form-group">
                <!-- so this feature is acting very weird, sometimes it works, and sometimes not -->
                <label for="Topic">Post Topic:</label>
                <input  formControlName="Topic" type="text" id="Topic" style="padding:.5rem 0" class="form-control" matInput
                  [matAutocomplete]='auto' [formControl]='myControl'>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]='displayFn'>
                  <mat-option *ngFor='let option of filteredOptions | async' [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </div>
              <div class="form-group">
                <label for="PostText">Post Text:</label>
                <textarea style="height: 10rem;" formControlName="PostText" type="text" id="PostText" class="form-control"></textarea>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
              <button class="btn btn-primary" type="submit">Create post</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- <div class="quote index">
      <img src="../../../assets/icons/quote.svg" alt="">
      <h1>lorem ipsum dolor dolor dolores bellisima collateral </h1>
      <img src="../../../assets/icons/quote.svg" alt="">
    </div> -->
    <img class="bundle_img" src="../../../assets/images/forum_bg.png" alt="">
    <h1 class="index">Welcome to the Forum</h1>
    <h5 class="index">a place where everyone contrebute to acheive <span>SUCCESS</span></h5>
    <img class="index swipe_img" src="../../../assets/images/swipe down.svg" alt="">
  </div>
  <div class="posts_page padding_page index">
    <div class="page_head">
      <div class="title_filter">
        <h1>Ask, Question & Discuss.</h1>
      
        <app-posts-list-search-bar (sendQuery) = "getQuery($event)"></app-posts-list-search-bar>
      </div>
      <button type="button" class="add_post_btn btn btn-one" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        New post
      </button>






    </div>

    <!-- list of posts -->
    <div class="post_div " (click)='getKey(item.key)' routerLink="'/', item.key" 
      *ngFor="let item of posts  | search: query ">
      <div class="info">
        <h1 class="blog_title">
            {{item.PostHeadline}}
        </h1>
        <div class="date">
          {{item.dateNow | dateAgo: time}}
        </div>
      </div>
      <p class="text">{{item.PostText | slice :0:200 }} ...</p>
      <small class="text-muted">{{item.numberOFComments}} answers</small>

    </div>
    
    <div class="footer">
      <img class="avatar" src="../../../assets/images/avatar.svg" alt="">
    </div>
  </div>