@use "../../../styles";
.index {
  z-index: 3;
}

.posts_page {
  background: var(--background);
  color: var(--default_text_color);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
}
.bundle {
  .bundle_img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    
  }
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:var(--bundle_background);
  &::after {
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  .swipe_img {
    width: 1.5rem;
    position: absolute;
    bottom: 1rem;
  }
  h1 {
    color: white;
    font-weight: 800;
    font-family: "El Messiri", sans-serif;
    font-size: 4rem;
    text-align: center;
  }
  span {
    font-family: "El Messiri", sans-serif;
    color: s;
  }
  h5 {
    text-align: center;
    width: 25rem;
    color: silver;
  }
}



.page_head {
  height: fit-content;
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}
.add_post_btn{
  height: 50%;
}


.modal-content{
  background: var(--modal_bg);
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: 1rem 2rem;
  mat-label{
      color: var(--secondary_color);
  }
  
}
.modal-header{
  width:100%;
  color: var(--secondary_color);
  border-color:var(--secondary_color) ;
  margin-bottom: 2rem;
}
.modal-footer{
  margin-top :2rem
}
.modal-body{
  background:var(--modal_bg);
}
.post_div {
  z-index: 2000;
  width: 100%;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  background-color: var(--divs_bg);
  &:hover {
    background-color: #1f324e5d;
  }
  transition: 0.2s;
  .blog_title {
    font-size: 22px;
    font-weight: bold;
    margin-right: 1rem;
    color: var(--primary_btn);
  }
  .text {
    font-size: 14px;
  }
  .RM {
    font-size: 14px;
  }
}

.info {
  display: flex;
  height: 2rem;
  align-items: baseline;
  .date {
    font-size: 14px;
    color: gray;
  }
}

.footer {
  img {
    height: 110%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
label{
  color: var(--secondary_color);
}
.form-control{
  background: var(--modal_bg);
  margin-bottom: 1rem;
}

.my-pagination::ng-deep {
  margin-top: 1rem;
  .current {
    background-color: var(--primary_color);
  }
  color: var(--default_text_color);
}
