<div class="courses_page padding_page">
      <div class="page_head">
        
          <h1>Study at YOUR pace.<img class="header_avatar" src="../../../assets/images/courses_avatar 2.svg" alt=""></h1>
          
        
         

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Drop a course</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="add_course" >
                  <div class="form">
                    <div class="input_box">
                      <input type="text">
                      <span>title</span> 
                    </div>
                  </div>
                  <div class="details">
                    <select name="subject" id="subject">
                      <option>subject</option>
                    </select>
                    <a>add file</a>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">add course</button>
              </div>
            </div>
          </div>
        </div>
        
        
      
      
      </div>

      <div class="buttons">
        <div class="button_box">
          <div class="btn btn-three">
            <span>NEW</span>
          </div>
          <div class="btn btn-three">
            <span>MATH</span>
          </div>
          <div class="btn btn-three">
            <span>SVT</span>
          </div>
        </div>
        <button class="btn btn-one btn_height"  data-bs-toggle="modal" data-bs-target="#exampleModal">add course</button>

      </div>
          <div class="course_cont">
            
            <div class="course_div btn-three" *ngFor="let item of courselist| paginate: { itemsPerPage: 10, currentPage:page ,totalItems:list_length }">
              <h3>Subject</h3>
              <h2 class="course_title">Course title</h2>
              <h6>Mr foulen fouleni</h6>
              <div class="preview">
                <a href="#">Preview</a>
                <img src=".././../../assets/icons/preview_arrow.svg" alt="">
              </div>
            </div>
            <pagination-controls class="my-pagination" (pageChange)="page = $event"></pagination-controls>
          </div>
          <footer class="footer">
            
            <img src="../../../assets/images/courses_avatar.svg" class="avatar" alt="">
          </footer>
    </div>




    