<div class="courses_page padding_page">
  <div class="page_head">

    <h1>Study at YOUR pace.<img class="header_avatar" src="../../../assets/images/courses_avatar 2.svg" alt=""></h1>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <form class="form" [formGroup]="addCourse" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Drop a course</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="add_course">
                <!--                 <div class="form">
 -->
                <!-- <div class="input_box">
                    <input type="text">
                    <span>title</span>
                  </div> -->
                <mat-form-field appearance="outline">
                  <mat-label>Title</mat-label>
                  <input matInput type="text" formControlName="courseTitle">
                </mat-form-field>
                <!--                 </div>
 -->
                <div class="details">
                  <!-- <select name="subject" id="subject">
                    <option>subject</option>
                  </select> -->
                  <mat-form-field appearance="outline">
                    <mat-label for="courseSubject">Subject</mat-label>
                    <mat-select id="courseSubject" formControlName="courseSubject">
                      <mat-option *ngFor="let option of subjects; let i = index" [value]="option">
                        {{option | titlecase}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <label>
                    <input type="file" class="text-nowrap text-truncate" (change)="selectFile($event)" />
                  </label>

                  <button mat-raised-button color="accent" [disabled]="!selectedFiles" (click)="upload()">
                    Upload
                  </button>
                  <div *ngIf="currentFileUpload" class="progress mt-2">
                    <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ percentage }}"
                      aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: percentage + '%' }">
                      {{ percentage }}%
                    </div>
                  </div>
                  <app-files-list (FilesToAddWithCourse)="FilesAttachedToCourse($event)"></app-files-list>
                </div>

              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">add course</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>


  <div class="buttons">
    <div class="button_box">
      <!-- the all courses' button -->
      <div class="btn btn-three" [ngStyle]="allCourses == displayedSubject? 
      {'background-color': '#3f51b5'} : {'color':  'black'}" routerLink="/platform/courses"
        [queryParams]="{ subject: allCourses }">
        <span>All</span>
      </div>
      <!-- the all courses' button -->
      <!-- the specific subject buttons -->
      <div *ngFor="let option of subjects; let i = index" class="btn btn-three" [ngStyle]="option.toLowerCase() == displayedSubject? 
          {'background-color': '#3f51b5'} : {'color':  'black'}" (click)="changeStyling(option); selectSubject(option)"
        routerLink="['/platform/courses']" [queryParams]="{ subject: option }">
        <span>{{option | titlecase}}</span>
      </div>
    </div>
    <button class="btn btn-one btn_height" data-bs-toggle="modal" data-bs-target="#exampleModal">add course</button>
  </div>

  <div class="course_cont">

    <div class="course_div btn-three"
      *ngFor="let item of courses | paginate: { itemsPerPage: 10, currentPage:page ,totalItems:courses.length }">
      <h3>{{item.Subject | titlecase}}</h3>
      <h2 class="course_title">{{item.Title | titlecase}}</h2>
      <h6>Mr foulen fouleni</h6>
      <div *ngIf="item.files" class="files">
        <strong style="color: var(--secondary_color);">Attachments</strong>
        <app-course-files [course]="item"></app-course-files>
      </div>
    </div>
    <pagination-controls class="my-pagination" (pageChange)="page = $event"></pagination-controls>
  </div>
  <footer class="footer">

    <img src="../../../assets/images/courses_avatar.svg" class="avatar" alt="">
  </footer>
</div>