<div class="admin_page padding_page">
    <div class="add_news">
        <h3>Add news</h3>
                    <div class="news_img">
                        <button>insert image...</button>
                    </div>
                    <div class="description">
                        <div class="text">
                            <div class="input_box">
                                <input type="text">
                                <span>title</span> 
                              </div>
                              <div class="input_box">
                                <textarea placeholder="description"></textarea>
                              </div>
                        </div>
                        <div class="date">
                                <h2>09</h2>
                                <p>may</p>
                        </div>
                    </div>
                    <button class="add_course_btn">add news</button>
                    

    </div>
</div>